html:not(.dark) {
  --vp-c-bg-soft: #ececed;
}

video,
img {
  border-radius: 6px;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.VPDoc .container {
  max-width: calc(var(--vp-layout-max-width) - 16px) !important;
}

.VPDoc .container .content,
.VPDoc .container .content-container {
  max-width: none !important;
}

.vp-doc h2 {
  margin: 36px 0 16px !important;
}

.vp-doc h3 {
  margin: 24px 0 16px !important;
}