@font-face {
  font-family: ChillRoundGothic;
  src: url(/ChillRoundGothic.otf);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #85ffbd 50%, #fffb7d);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #74ebd5 50%, #9face6 50%);
  --vp-home-hero-image-filter: blur(44px);
  --vp-font-family-base: ChillRoundGothic, sans-serif;
  --vp-c-yellow-1: #f2b54c;
}

video,
img {
  border-radius: 6px;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.VPNavBarMenuGroup .VPMenu {
  min-width: auto !important;
  border: none !important;
}

.VPLocalNav {
  padding: 0 24px;
  border: none !important;
}

.VPLocalNav .container {
  max-width: 1152px;
  margin: 0 auto;
}

.VPLocalNavOutlineDropdown button {
  padding-left: 0 !important;
}

.VPNavBar:not(.top) {
  border: none !important;
}

.VPNavBar .divider {
  display: none !important;
}

.VPNavBar .container {
  max-width: 1152px;
}

.VPFeature {
  border-radius: 8px !important;
  background: none !important;
  border: none !important;
  backdrop-filter: blur(2px) !important;
}

.vp-doc .header-anchor {
  margin-left: -0.7em !important;
}

.VPDoc {
  padding: 32px 24px 0;
}

.VPDoc .container,
.VPDoc .content,
.VPDoc .content-container {
  max-width: 1152px !important;
}

.VPDoc>.container>.content {
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  background: var(--vp-c-bg) !important;
}

.VPFooter {
  border: none !important;
  background: var(--vp-c-bg) !important;
}

.DocSearch-Hit-source {
  background: none !important;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }

  .VPHero {
    padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 80px) 32px 64px !important;
  }

  .VPFeatures {
    padding: 0 32px !important;
  }

  .VPDoc>.container>.content {
    padding: 32px;
  }
}

@media (min-width: 768px) {
  .VPLocalNav {
    padding: 0 32px;
  }

  .VPDoc {
    padding: 48px 32px 0;
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }

  .VPDoc {
    padding: 48px 32px 0;
    margin-bottom: 32px;
  }
}